*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    margin-top: 100px;
    height: 450px;
}

.font-large{
    font-weight: 700;
    font-size: 2.1rem;
}
.hero-section-heading{
    width: 100%;
    height: auto;;
}
.hero-section-paragraph{
    width: 100%;
    height: auto;
}